html,
body,
#elevator,
section {
  height: 100%;
  color: #fff;
}

body {
  margin: 0;
  overflow: hidden;
}

/* ======================
   TITULO
====================== */
h1 {
  text-align: center;
  text-shadow:
    hsla(0, 0%, 40%, .5) 0 -1px 0,
    hsla(0, 0%, 100%, .6) 0 2px 1px;
}

/* ======================
   ELEVADOR
====================== */
#elevator {
  position: absolute;
  top: 0;
  width: 100%;
  transition: top 1s ease;
}

/* ======================
   PISOS
====================== */
.floor {
  height: 100%;
  width: 100%;
  position: relative;
}

.floor {
  overflow-y: auto;
  box-sizing: border-box;
  padding: 40px;
}

/* ======================
   PANEL DE BOTONES
====================== */
.pannel {
  position: fixed;
  background: #fff;
  margin: auto;
  width: 246px;
  padding: 25px 5px;
  border: 4px outset rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  height: 330px;
  z-index: 10;
}

.pannel > div {
  display: flex;
  justify-content: center;
}

.pannel button {
  margin: 10px;
}

.pannel button,
.floor button {
  cursor: pointer;
  border: none;
  outline: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px 30px;
  font-size: 20px;
  font-family: "Courier New", monospace;
  font-weight: bold;
  color: #444;
  background: #e1e0c8;
  box-shadow:
    -1px -2px 2px #c4bca3,
    inset 1px 2px 3px #eeeeee,
    inset -1px -2px 3px #c4bca3,
    2px 6px 16px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

.pannel button:active,
.pannel button.activated,
.floor button:active,
.floor button.activated {
  color: #4565c3;
  box-shadow:
    -1px -2px 2px #c4bca3,
    inset 1px 2px 3px #eeeeee,
    inset -1px -2px 3px #c4bca3,
    1px 2px 12px rgba(0, 0, 0, 0.5);
}

.floor button {
  float: right;
}

/* ======================
   PUERTAS DEL ASCENSOR
====================== */
.grid {
  z-index: 9;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image:
    radial-gradient(#777 2%, #ccc 4%, transparent 5%, transparent 100%),
    linear-gradient(120deg, transparent 0%, transparent 45%, #555 46%, #999 54%, transparent 55%, transparent 100%),
    linear-gradient(60deg, transparent 0%, transparent 45%, #555 46%, #999 54%, transparent 55%, transparent 100%);
  background-size: 70px 120px;
  transition: transform 2s ease;
  transform: scaleX(0);
}

.grid.closed {
  transform: scaleX(0.6);
}

.grid.left {
  transform-origin: 0 0;
  left: calc(-10% - 10px);
  border-right: 15px solid #777;
  box-shadow: 2px 0 #555;
}

.grid.right {
  transform-origin: 100% 0;
  right: calc(-10% - 10px);
  border-left: 15px solid #777;
  box-shadow: -2px 0 #555;
}
